@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Manrope&family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans:wght@400;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}
h1 {
  font-weight: 700;
}
#banner {
  background: #264653;
  color: white;
}
#banner2 {
  background-image: linear-gradient(
      90deg,
      #181818 0%,
      rgba(24, 24, 24, 0.822917) 24.48%,
      rgba(24, 24, 24, 0) 100%
    ),
    url("../images/banner-bike.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.biker-zone-light-red {
  background-color: rgba(255, 0, 0, 0.19);
}
.btn-bike {
  background: #e76f51;
  color: white;
}
.btn-bike-outline {
  background: transparent;
  border: 2px solid #e76f51;
  color: #e76f51;
}

.btn-bike:hover {
  background: #e76f51;
  color: white;
  opacity: 75%;
}
