@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Manrope&family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans:wght@400;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
}
h1 {
  font-weight: 700;
}
.biker-zone-light-red {
  background-color: rgba(255, 0, 0, 0.19);
}
.btn-bike {
  background: #e76f51;
  color: white;
}
.btn-bike-outline {
  background: transparent;
  border: 2px solid #e76f51;
  color: #e76f51;
}

.btn-bike:hover {
  background: #e76f51;
  color: white;
  opacity: 75%;
}
